<html>
  <head>
  <link rel="stylesheet" href="/css/login.css">

  </head>
  <body>

  <div class="wrap">
    <div class="form-wrap">
      <div class="button-wrap">
        <div id="btn-register"></div>
        <button type="button" class="togglebtn" onclick="location.href='/login'">LOG IN</button>
        <button type="button" class="togglebtn">REGISTER</button>
      </div>
      <form id="register" action="/users" method="post" class="input-group">
        <input type="text" id="username" name="username" value="<%= user.username %>" class="input-field" placeholder="User name or Email" required>
        <% if(errors.username){ %>
        <span><%= errors.username.message %></span>
        <% } %>

        <input type="password" id="password" name="password" value="" class="input-field" placeholder="Enter Password" required>
        <% if(errors.password){ %>
        <span><%= errors.password.message %></span>
        <% } %>

        <input type="password" id="passwordConfirmation" name="passwordConfirmation" value="" class="input-field" placeholder="Enter Password Confirmation" required>
        <% if(errors.passwordConfirmation){ %>
        <span><%= errors.passwordConfirmation.message %></span>
        <% } %>

        <% if(errors.unhandled){ %>
        <div><%= errors.unhandled %></div>
        <% } %>

        <button class="submit">Register</button>
      </form>
    </div>
  </div>

  </body>
</html>
