<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="wrap">

      <div id="container"></br><B>Board</B></div></br>

      <div class="text-area">
        <form action="/posts" method="post">
          <div>
            <input type="text" name="body" value="<%= post.body %>" placeholder="새로운 글을 입력하세요" class="input-field <%= (errors.title)?'is-invalid':'' %>">
            <% if(errors.body){ %>
              <span><%= errors.body.message %></span>
            <% } %>
          </div>

          <% if(errors.unhandled){ %>
            <div>
              <%= errors.unhandled %>
            </div>
          <% } %>

          <% if(isAuthenticated){ %>
            <button type="submit" class="btn"><B>Submit</B></button>
          <% } %>

        </form>
      </div>


      <div class="post-field">
        <% if(posts == null || posts.length == 0){ %>
          <div class="content-field">There is no data to show :(</div>
        <% } %>
        <% posts.forEach(function(post) { %>
          <div class="username-field"><%= post.author ? post.author.username : "" %></div>
          <div class="content-field"><%= post.body %></div></br>
        <% }) %>

        <nav class="page-nav">
          <%
            var offset = 2;
            var previousBtnEnabled = currentPage>1;
            var nextBtnEnabled = currentPage<maxPage;
          %>
          <ul class="page-ul">
            <li class="page-item <%= previousBtnEnabled?'':'disabled' %>">
              <a class="page-link" href="/posts?page=<%= currentPage-1 %>&limit=<%= limit %>" <%= previousBtnEnabled?'':'tabindex=-1' %>>«</a>
            </li>
            <% for(i=1;i<=maxPage;i++){ %>
              <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
                <li class="page-item <%= currentPage==i?'active':'' %>"><a class="page-link" href="/posts?page=<%= i %>&limit=<%= limit %>"> <%= i %> </a></li>
              <% } else if(i==2 || i==maxPage-1){ %>
                <li><a class="page-link">...</a></li>
              <% } %>
            <% } %>
            <li class="page-item <%= nextBtnEnabled?'':'disabled' %>">
              <a class="page-link" href="/posts?page=<%= currentPage+1 %>&limit=<%= limit %>" <%= nextBtnEnabled?'':'tabindex=-1' %>>»</a>
            </li>
          </ul>
        </nav>

      </div>

    </div>

  </body>
</html>
