<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %> <!-- head.ejs include -->

  </head>
  <body>
    <%- include('../partials/nav') %> <!-- nav.ejs include-->

    <!-- 질문 내용 -->
    <div id="survey-text-1">Q: 당신은 이제 자신이 고른 책을 읽으려고 합니다.</div>
    <div id="survey-text-2">어디에서 읽으실 건가요?</div>
    <div id="left-cnt">(3/3)</div> <!-- 설문 진행도 -->

    <div id="survey-box">
      <button type="button" id="survey-1">스탠드가 있는 책상 앞</button>
      <button type="button" id="survey-2">햇빛이 비치는 쇼파 위</button>
    </div>

    <script>
      var firstType = getParameterByName('first_type'); // 첫 번째 설문의 답변을 받아옴(survey.js에 getParameterByName function)
      var secondType = getParameterByName('second_type'); // 두 번째 설문의 답변을 받아옴(survey.js에 getParameterByName function)

      var box1 = document.getElementById("survey-1");
      var box2 = document.getElementById("survey-2");

      // 첫 번재와 두 번째 설문의 답변에 따라 유저 정보에 추천해줄 게임 결과를 업데이트 해주는 기능을 설문 버튼에 추가(survey.js에 updateUserGame function)
      if(firstType == 1 && secondType == 1) {
        box1.addEventListener("click", function() { // ex 설문 답변이 페이지별로 1, 1, 1일 경우
          updateUserGame('/users/<%= currentUser.username %>?_method=put', 'Counter Strike: Global Offensive', 'https://blog.counter-strike.net/');
        })
        box2.addEventListener("click", function() { // ex 설문 답변이 페이지별로 1, 1, 2일 경우
          updateUserGame('/users/<%= currentUser.username %>?_method=put', 'DOTA 2', 'https://kr.dota2.com/');
        })
      }
      else if(firstType == 1 && secondType == 2) {
        box1.addEventListener("click", function() { // ex 설문 답변이 페이지별로 1, 2, 1일 경우
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '모여봐요 동물의 숲', 'https://www.nintendo.co.kr/software/switch/acbaa/index.html');
        })
        box2.addEventListener("click", function() { // ex 설문 답변이 페이지별로 1, 2, 2일 경우
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '모여봐요 동물의 숲', 'https://www.nintendo.co.kr/software/switch/acbaa/index.html');
        })
      }
      else if(firstType == 1 && secondType == 3) {
        box1.addEventListener("click", function() { // ex 설문 답변이 페이지별로 1, 3, 1일 경우
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '오버워치', 'https://playoverwatch.com/ko-kr/');
        })
        box2.addEventListener("click", function() { // ex 설문 답변이 페이지별로 1, 3, 2일 경우
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '슈퍼 스매시브라더스 얼티밋(대난투)', 'https://www.smashbros.com/ko_KR/');
        })
      }
      else if(firstType == 1 && secondType == 4) {
        box1.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '저스트 댄스 2020', 'https://www.ubisoft.com/en-us/game/just-dance-2020');
        })
        box2.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '저스트 댄스 2020', 'https://www.ubisoft.com/en-us/game/just-dance-2020');
        })
      }
      else if(firstType == 2 && secondType == 1) {
        box1.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '젤다의 전설: 야생의 숨결', 'https://www.nintendo.co.kr/software/switch/aaaaa/dlc.html');
        })
        box2.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '젤다의 전설: 야생의 숨결', 'https://www.nintendo.co.kr/software/switch/aaaaa/dlc.html');
        })
      }
      else if(firstType == 2 && secondType == 2) {
        box1.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '모여봐요 동물의 숲', 'https://www.nintendo.co.kr/software/switch/acbaa/index.html');
        })
        box2.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '모여봐요 동물의 숲', 'https://www.nintendo.co.kr/software/switch/acbaa/index.html');
        })
      }
      else if(firstType == 2 && secondType == 3) {
        box1.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '메이플스토리', 'https://maplestory.nexon.com/Home/Main');
        })
        box2.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '브롤스타즈', 'https://blog.brawlstars.com/');
        })
      }
      else if(firstType == 2 && secondType == 4) {
        box1.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '클래시 오브 클랜', 'https://supercell.com/en/games/clashofclans/');
        })
        box2.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '클래시 오브 클랜', 'https://supercell.com/en/games/clashofclans/');
        })
      }
      else if(firstType == 3 && secondType == 1) {
        box1.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '서든 어택', 'http://sa.nexon.com/main/index.aspx');
        })
        box2.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '젤다의 전설: 야생의 숨결', 'https://www.nintendo.co.kr/software/switch/aaaaa/dlc.html');
        })
      }
      else if(firstType == 3 && secondType == 2) {
        box1.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '모여봐요 동물의 숲', 'https://www.nintendo.co.kr/software/switch/acbaa/index.html');
        })
        box2.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '모여봐요 동물의 숲', 'https://www.nintendo.co.kr/software/switch/acbaa/index.html');
        })
      }
      else if(firstType == 3 && secondType == 3) {
        box1.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', 'League of legends', 'https://kr.leagueoflegends.com/ko-kr/');
        })
        box2.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '슈퍼 스매시브라더스 얼티밋(대난투)', 'https://www.smashbros.com/ko_KR/');
        })
      }
      else if(firstType == 3 && secondType == 4) {
        box1.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', 'Grand Theft Auto V', 'https://www.rockstargames.com/V/');
        })
        box2.addEventListener("click", function() {
          updateUserGame('/users/<%= currentUser.username %>?_method=put', '포켓몬스터: 소드&실드', 'https://pokemonkorea.co.kr/sword_shield');
        })
      }

    </script>

  </body>
</html>
