<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>

  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="neon-flux-wrap">
      <div class="neon">당신의 게임은? </div>
      <div class="flux"><%= game.name %></div>
    </div>
    
    <div id="container_A">
      <center><a href="<%= game.siteURL %>"><img src="<%= game.image %>" border="0" width="560" height="315"></a> &nbsp&nbsp&nbsp
      <iframe width="560" height="315" src="<%= game.video %>" frameborder="0"></iframe></center></br>
    </div>

    <div id="container_B"><audio src="<%= game.bgm %>" controls></audio></div>
    <button class="btn1" onClick="location.href='/surveys' ">RE  -TRY</button>
    <button type="button" class="btn2" onClick="location.href='/' ">GO HOME</button>

  </body>
</html>
